.example {
  @include section;

  background-color: var(--basic-white-color);
}

.example-img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.example-box {
  background-color: var(--basic-white-color);
}

.example-box__link {
  display: block;
  text-decoration: none;

  transition: box-shadow 250ms var(--timing-function);

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.position {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);

  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1.55;

  color: var(--basic-white-color);

  background-color: var(--portfolio-hover);
}

.example-box__link:hover .overlay {
  transform: translateY(0);
}

.description {
  border: 2px solid var(--bcg-color-gray);
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  justify-self: center;
}

.description__title {
  color: var(--basic-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  list-style: none;
}

.description__text {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 30px;
  list-style: none;
}
